PORT=3333
HOST=0.0.0.0
DATABASE_URL="file:./src/database/database.sqlite"
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=your_jwt_secret_here

ADMIN_EMAIL=admin@concept-garden.com
ADMIN_PASSWORD=admin
ADMIN_IMAGE=http://127.0.0.1:9000/admin/admin-avatar.webp